In [56]:
import pandas as pd 

df = pd.read_csv("titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [57]:
df.groupby("Sex")['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [58]:
df.groupby("Pclass")['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [59]:
df[df['Survived']==1]['Age'].mean()

28.343689655172415

In [60]:
df[df['Survived']==0]['Age'].mean()

30.62617924528302

In [61]:
df.groupby("SibSp")['Survived'].mean()

SibSp
0    0.345395
1    0.535885
2    0.464286
3    0.250000
4    0.166667
5    0.000000
8    0.000000
Name: Survived, dtype: float64

In [62]:
df.groupby("Parch")['Survived'].mean()

Parch
0    0.343658
1    0.550847
2    0.500000
3    0.600000
4    0.000000
5    0.200000
6    0.000000
Name: Survived, dtype: float64

In [63]:
df.drop(['Name', 'Ticket','Cabin'], inplace=True, axis=1)

In [64]:
med_age = df.groupby("Pclass")['Age'].median()
med_age

Pclass
1    37.0
2    29.0
3    24.0
Name: Age, dtype: float64

In [65]:
def fill_age(data):
    if pd.isnull(data['Age']):
        if data['Pclass'] == 1:
            return med_age[1]
        elif data['Pclass'] == 2:
            return med_age[2]
        else:
            return med_age[3]
    
    return data['Age']

df['Age'] = df.apply(fill_age, axis=1)

In [66]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [67]:
df['Embarked'] = df['Embarked'].fillna('S')

In [68]:
df.to_csv('cleaned.csv', index=False)